<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="../bower_components/angular-material/angular-material.min.css">
</head>
<body>

<div ng-controller="BottomSheetExample" class="md-padding" ng-cloak>
    <h2 class="md-title">Usage</h2>
    <p>Bottom sheets can be displayed by clicking one of the buttons below.  Once shown, it can be
        dismissed by either swiping down or clicking in the shaded area.</p>
    <h2 class="md-title">Actions</h2>
    <p>Use one of the following buttons to display a bottom sheet.</p>
    <div class="bottom-sheet-demo inset" layout="row" layout-sm="column" layout-align="center" >
        <md-button flex="50" class="md-primary md-raised" ng-click="showListBottomSheet()">Show as List</md-button>
        <md-button flex="50" class="md-primary md-raised" ng-click="showGridBottomSheet()">Show as Grid</md-button>
    </div>

    <div ng-if="alert">
        <br/>
        <b layout="row" layout-align="center center" class="md-padding">
            {{alert}}
        </b>
    </div>

</div>

<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="../bower_components/angular-animate/angular-animate.min.js"></script>
<script src="../bower_components/angular-aria/angular-aria.min.js"></script>
<script src="../bower_components/angular-material/angular-material.min.js"></script>

<script src="app.js"></script>

</body>
</html>
